@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Noto Sans" !important;
}



body{
  background-color: lightgray !important; 
}

li{
  font-weight: bold;
}

.sidebar{
  height: auto;
}


.cursor{
  cursor: pointer;
}


.input-group{
  width: 20% !important;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  margin-right: 10px;
}

.image-container .btn {
  margin-left: 10px;
}
